<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="AutoMapper" version="7.0.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net47" developmentDependency="true" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net471" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net471" />
</packages>